<% layout('/layouts/boilerplate') %>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">


                <h3>Edit your Listing</h3>
                <form action="/listings/<%=listing._id%>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" value="<%=listing.title%>" class="form-control" required>
                        <div class="valid-feedback">
                            Title Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="text" name="listing[description]" class="form-control" required><%=listing.description%></textarea>
                        <div class="invalid-feedback">
                            Provide a valid description.
                        </div>
                    </div>

                    <div class="mb-3">
                        Original Listing Image <br>
                        <img src="<%= originalImageUrl%>" alt="original_Image">
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Upload New Image</label>
                        <input type="file" name="listing[image]" class="form-control">
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" name="listing[price]" value="<%=listing.price%>" class="form-control" required>
                            <div class="invalid-feedback">
                                Provide a valid price.
                            </div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="listing[country]" value="<%=listing.country%>" class="form-control" required>
                            <div class="invalid-feedback">
                                Country name should be valid.
                            </div>
                        </div>
                    </div>



                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" value="<%=listing.location%>" class="form-control" required>
                        <div class="invalid-feedback">
                            Location should be valid.
                        </div>
                    </div>




                    <button class="btn btn-dark edit-btn mt-3">Edit</button>
                    <br><br>
                </form>
            </div>
        </div>
    </body>
    <script src="/js/script.js"></script>